.categories-select__control {
  height: 50px;
  border-radius: 10px !important;
}

.categories-select__indicator-separator {
  display: none;
}

.categories-select__placeholder {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E !important;
}